.banner {
    color: white;
    object-fit: contain;
    height: 80vh;
    position: relative;
}

.banner-contents {
    margin-left: 50px;
    padding-top: 180px;
    height: 190px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    max-width: 60%;
}

.banner-description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.1rem;
    max-width: 50vw;
    height: 80px;
    font-weight: 400;
}

.banner-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.banner-button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    padding: 0.7rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    transition: all 0.2s;
}

.banner-button:hover {
    color: #000;
    background-color: #e6e6e6;
}

.banner-button.play-button {
    background-color: white;
    color: black;
}

.banner-button.play-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.banner-button.info-button {
    background-color: rgba(109, 109, 110, 0.7);
}

.banner-button.info-button:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.banner-fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .banner-title {
        font-size: 2rem;
        max-width: 80%;
    }

    .banner-description {
        width: 100%;
        max-width: 90%;
        font-size: 0.9rem;
    }

    .banner-contents {
        margin-left: 20px;
    }
}